<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script>

    </script>
</head>
<body>
    <a href="/Rules/RulesGet.cshtml">Lista zasad.</a>
    <form action="/Rules/RulesRedirect.cshtml" method="POST">
        <input type="text" name="nowaZasada"><br />
        <input type="submit" value="Submit">
    </form>

</body>
</html>
